@charset "utf-8";
/* CSS Document */
.padding{
	margin-right:15px;
	margin-left:15px;
	display:block;
}

container{
	margin-bottom: 40px;
	display:block;
}
.button{
	display:inline-block;
	width: 150px;
	margin: 5px;
	padding: 0.2em 1em 0.2em 1em;
	height: 50px;
	background-color: white;
	cursor: pointer;
	text-align: center;
}

filters{
	display: inline-block;
	width: 100%;
	height: auto;
}

.hide{
	visibility: hidden;
}
.active{
	background-color:#ec008c;
	color: white;
}



.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}








body{
	margin:0px;
	overflow:scroll;
	background-color:#121212;

}
.floatright
{float:right}
.floatleft
{float:left}



navbar{
	height: 75px;
	width: 100vw;
	max-width: 1300px;
	display: block;
	background-color:#0b0b0b;
	z-index: 51;
position:absolute;;
}

navbarbackground{
	width: 100%;
	height: 75px;
	display: block;
	background-color:#0b0b0b;
	float: left;
	z-index: 50;
	position:relative;
 }


logo {
	display: block;
	height: 100%;
	float: left;
	padding-left: 10px;

}


.logosize{
	width: 50%;
	height: auto;
	padding-top: 17px;

}



.logosvg {
	fill: #ec008c;
	width: 30px;
	height: auto;

}

h1{
	font-size:9em;
	font-family: "acumin-pro-extra-condensed";
	color: #ec008c;
	line-height: 0.8em;
 	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: -2px;
	margin-top: 0em;
margin-bottom: 0em;
}


h2 {
	font-size:1.5em;
	font-family: "acumin-pro-condensed";
	color: #ec008c;
	text-transform: uppercase;
	margin-top: 0em;
margin-bottom: 0em;

}




.paddy{
	margin-right:2%;
}



/*PORTFOLIO*/
.headline{

	width:100%;
}
row1{
	height:300px;
	width:48%;
	margin-top: 30px;
	display:inline-block;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	overflow:hidden;
	float:left;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

.animated{
	  transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;}

	/*MOUSE OVER*/

.test1{

	 opacity: 0;
}
.test2:hover .test1{

	background-color: rgba(0,0,0,0.8);
	 opacity: 1;
	width:100%;
	height:100%;
	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
	text-align:center;
	  transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
	padding: 5 5 5 5;
	color:white;
	   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:pointer;
}

html{position: relative;
	min-height: 100%;}

/*LIST*/

ul.topnav {
   list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
	font-family: 'acumin-pro-condensed', sans-serif;

	text-transform:uppercase;
	font-size:1.25em;
	overflow:visible;
	margin-right:15px;

}

.icon{
	visibility:hidden;
}

.currentpage{
	color:#ec008c;
	font-weight:800;
}

li{
    float: right;
	padding-top: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ec008c;
	color:white;
	height: 100%;
	top: auto;
	bottom: auto;
	display: block;
}




footer {
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
		margin-top:30px;
		background-color:#0b0b0b;
}






/*MOUSE OVER*/

.test1{

	 opacity: 0;
}
.test2:hover .test1{

	background-color: rgba(0,0,0,0.8);
	 opacity: 1;
	width:100%;
	height:100%;
	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
	text-align:center;
	  transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
	padding: 5 5 5 5;
	color:white;
	   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:pointer;
}




hiddenportfolio{
	visibility: hidden;
	overflow:hidden
}



p{

	font-family: 'acumin-pro', sans-serif;
	line-height: 1.7em;
	margin-right: 10px;
	margin-left:10px;
	color:#FFF;
}
.col{
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;

	-moz-column-count: 2;
	-moz-column-gap: 20px;

	column-count: 2;
	column-gap: 20px;

	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;

	 padding: .3em;

	margin: 0;
}

.col > p:first-child {
  margin-top: 0;
}
.col > p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width : 320px) and (max-width : 720px) {



	/*nav*/

	ul.topnav {
   list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
	text-align:center;
	font-family: 'Overpass', sans-serif;
	font-size:12pt;
	overflow:visible;


}

	.icon{
	visibility:visible;
}

  ul.topnav li {display: none;}

  ul.topnav li.icon {
    float: right;
    display: inline-block;
	overflow:visible;
  }
    ul.topnav.responsive {position:absolute;
	width:100%;


	}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
	overflow:visible;


  }



  ul.topnav.responsive li {
    float: none;
    display: block;
	overflow:visible;
  	background-color:#0b0b0b;

  }

  ul.topnav.responsive li a {
    display: block;
    text-align: center;

  }










}
