<!DOCTYPE html>
<html>
<head>

    <meta charset=utf-8 />
    <title>  TEST</title>
    <script src="https://use.typekit.net/tve3icz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/grid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,800" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.url }}/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="{{ site.url }}/js/jquery.lazyload.js"></script>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</head>

<body>
    <div class="wrapper">
	
	<navbarbackground>
	</navbarbackground>
   	 <div class="container_14" style="padding-bottom:75px;">
		<navbar>
			<logo class="grid_1">
				<svg class="logosize item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.5 29.4">
				<polygon points="0 20.6 22.5 5.8 22.5 0 0 14.8 " class="logosvg"/>
				<polygon points="15.1 13.7 0 23.6 0 29.4 15.1 19.5 " class="logosvg"/></svg>
			</logo>
		<ul class="topnav" id="myTopnav">
  			<li><a class="currentpage" href="/contact/">Home</a></li>
  			<li><a href="/blog/">News</a></li>
  			<li><a href="/portfolio/">Portfolio</a></li>
  			<li><a href="/about/">About</a></li>
   			<li class="icon">
   			<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
		</ul>
		</navbar>
	</div>



	

         {{ content }} 
	

      
    </div>

    <body>
    
    <script src="/js/scale.fix.js"></script>
  </body>

</body>
</html>
