---
layout: default
extracss: true
portfolio: true
type: portfolio
---


<html>
	<script>

	$(function() {
    $("img.lazy").lazyload({ effect : "fadeIn", threshold : 0});
});
	</script>





        <section>


<div style="position: relative;">
<div id="overlayfade" style="background-image:url({{ site.baseurl }}/img/overlay.png"></div>
		<projectimg style="background-image:url({{ site.baseurl }}{{ page.image }});">
        	<img class="image lazy" style="visibility: hidden;" "data-original="{{ site.baseurl }}{{ page.image }}"">
		</projectimg>
</div>




<div class="container_14">

	<titlecontainer>

		<h1>
	<title class="content grid_15">
	{{page.title}}
	</title>
	</h1>


	</titlecontainer>



<div class="chocolat-parent" data-chocolat-title="set title">
<div class="container_14 ">
        {{ content }}


</div>
</div>
    </section>


</div>

				<script>

$(document).ready(function(){
    $('.chocolat-parent').Chocolat();
});
	$('selector').Chocolat()
</script>
</html>
