---
layout: default
extracss: true
---


<html>
	<script>

	$(function() {
    $("img.lazy").lazyload({ effect : "fadeIn", threshold : 0});
});
	</script>





        <section>
     

<headerbg>
	<div class="container_14 padding15" >
		<projectimg class="grid_13" style="background-image:url({{ site.baseurl }}{{ page.image }});" >
        	<img class="image lazy" style="visibility: hidden;" "data-original="{{ site.baseurl }}{{ page.image }}"> 
		</projectimg>
	</div>
</headerbg>
	<div class="container_14">
<titlecontainer>
<h1>
   <title class="content grid_6">

{{page.title}}

</title>
</h1>

	
          <p class="post-meta">
		  {% for item in page.stats %}
		  <h2>{{ item.client }}, </br> {{ item.year }} </br>  {{ item.type }}</h2>
		  {% endfor %}
                {{ page.date | date_to_string }}
          </p>

</titlecontainer>
<div class="chocolat-parent" data-chocolat-title="set title">
<div class="container_14">	
        {{ content }}
</div>
</div>

    </section>


</div>

				<script>
	
$(document).ready(function(){
    $('.chocolat-parent').Chocolat();
});
	$('selector').Chocolat()
</script>
</html>